<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>

<body>
    <header>
        <div class="hamburger-packet subgrid cols-start-1 cols-end-2">
            <input type="checkbox" style="display: none;" id="menu-toggle">
            <label for="menu-toggle" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <h1>Learn മലയാളം</h1>

    </header>
    <main class="main">
        {% include "sidebar.html" %}
        <section class="lesson">
            <section class="practice">
                <div class="letter-svg background">
                    {{lesson.svg|safe}}
                </div>
                <div class="letter-svg foreground">
                    {{lesson.svg|safe}}
                </div>
                <drawing-canvas ref="canvas" style="position: absolute;inset:0;" />
            </section>
        {% include "tools.html" %}
        </section>
    </main>
</body>

</html>