
@font-face {
    font-family: 'Nupuram Regular';
    font-display: swap;
    font-weight: 400;
    src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram/webfonts/Nupuram-VF.woff2) format('woff2-variations');
}

@supports not (font-palette: --custom) {
    @font-face {
      font-family: 'Nupuram Color';
      font-display: swap;
      font-weight: 400;
      src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram-Color/webfonts/Nupuram-Color.colrv0.woff2) format('woff2');
    }
    @font-face {
      font-family: 'Nupuram Arrows Color';
      font-display: swap;
      font-weight: 400;
      src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram-Arrows-Color/webfonts/Nupuram-Arrows-Color.colrv0.woff2) format('woff2');
    }
  }
  @supports (font-palette: --custom) {
    @font-face {
      font-family: 'Nupuram Color';
      font-display: swap;
      font-weight: 400;
      src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram-Color/webfonts/Nupuram-Color.colrv1.woff2) format('woff2');
    }
    @font-face {
      font-family: 'Nupuram Arrows Color';
      font-display: swap;
      font-weight: 400;
      src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram-Arrows-Color/webfonts/Nupuram-Arrows-Color.colrv1.woff2) format('woff2');
    }
  }