@font-face {
  font-family: "Nupuram";
  font-display: swap;
  font-weight: 400;
  src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram/webfonts/Nupuram-VF.woff2)
    format("woff2-variations");
}

@font-face {
  font-family: "Nupuram Dots";
  font-display: swap;
  font-weight: 400;
  src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram-Dots/webfonts/Nupuram-Dots.woff2)
    format("woff2");
}

@font-face {
  font-family: "Nupuram Color";
  font-display: swap;
  font-weight: 400;
  src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram-Color/webfonts/Nupuram-Color.colrv1.woff2)
    format("woff2");
}

@font-face {
  font-family: "Nupuram Arrows Color";
  font-display: swap;
  font-weight: 400;
  src: url(https://smc.gitlab.io/fonts/Nupuram/fonts/Nupuram-Arrows-Color/webfonts/Nupuram-Arrows-Color.colrv1.woff2)
    format("woff2");
}

.nupuram {
  font-family: "Nupuram", sans-serif;;
}

.nupuram-color {
  font-family: "Nupuram Arrows Color", sans-serif;
}

.nupuram-dots {
  font-family: "Nupuram Dots", sans-serif;
}