@import url(./grid.css) layer(grid);
@import url(./fonts.css) layer(fonts);
/* @import "https://smc.org.in/fonts/manjari.css" layer(font); */

@layer app {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
    /* 2 */
  }

  html {
    -webkit-touch-callout: none;
    -webkit-tap-highcolor: transparent;
    -webkit-tap-highcolor: transparent;

    /* dark */
    --brand: var(--blue-6);
    --text-1: var(--gray-3);
    --surface-1: #101828;
    --surface-2: #1d2939;
    --body-background-color: var(--surface-1);
    --text-color: #d0d5dd;
    --border-color: #475467;
    --header-background-color: var(--gray-0);
    height: 100%;
    accent-color: var(--blue-6);
  }

  body {
    font-size: 100%;
    color: var(--text-color);
    max-height: 100vh;
    /* overflow: hidden; */
    margin: 0;
    background-color: var(--body-background-color);
    background-repeat: repeat;
    padding: 0 var(--size-fluid-1);
  }

  header {
    /* border-bottom: 1px solid var(--border-color); */
    z-index: var(--layer-2);
    padding: var(--size-fluid-1) var(--size-fluid-1);
  }

  header .brand {
    color: var(--brand);
    padding: 0;
    margin: 0;
    line-height: 0.5;
  }

  a.header-container {
    text-decoration: none;
  }

  header .brand-secondary {
    color: var(--brand);
    padding: 0;
    margin: 0;
  }

  .navbar {
    padding: 0.5rem;
    align-items: center;
    gap: var(--size-2);
  }

  .navbar h1 {
    font-size: 2rem;
  }

  .letter-link {
    text-decoration: none;
    color: var(--brand);
    padding: var(--size-3);
    place-content: center;
  }

  .letter-nav {
    line-height: 1.25;
    font-size: var(--font-size-fluid-1);
  }

  .content {
    padding: var(--size-fluid-2);
    margin: 0;
  }

  .card {
    /* backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%); */
    background-color: var(--surface-2);
    border-radius: var(--radius-1);
    border: var(--border-size-1) solid var(--border-color);

    padding: var(--size-fluid-2);
  }

  footer {
    padding: var(--size-fluid-1) var(--size-fluid-1);
    color: var(--text-color);
  }
}
